<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.id.webverifylib"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >

        <activity
            android:exported="false"
            android:name=".WebViewActivity"
            />

    </application>

</manifest>
